APP_NAME=BookShelf
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=bookshelf-db
DB_PORT=3306
DB_DATABASE=bookshelf
DB_USERNAME=root
DB_PASSWORD=bookshelf123
